<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/process}" th:object="${bullhorn}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{postedDate}" />

    Title :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br />
    Content :<textarea rows="3" maxlength="140" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br />
    <!--Posted Date :<input type="text" th:field="*{postedDate}" />
    <span th:if="${#fields.hasErrors('postedDate')}" th:errors="*{postedDate}"></span><br /> -->
    Sent By :<input type="text" th:field="*{sentBy}" />
    <span th:if="${#fields.hasErrors('sentBy')}" th:errors="*{sentBy}"></span><br />
    <input type="submit" value="Submit" />







</form>




</body>
</html>

